*{
    padding:0;
    margin:0;

}
.body{
    background:url("../image/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(142, 199, 142),rgb(190, 190, 153));
    width: 90vmin;                                                              
    height: 92vmin;
    border: 2px solid black;

    /* creation of grid of size 18 rows and 18 columns */
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}  
/* head of the snake  */
.head{
    background-color: red; head 
}

/* body part of the snake */
.snake{
    background-color:purple;
}
/* food of the snake  */
.food{
    background-color: yellow;

}